    <table class = "table table-striped">
    <thead class = "thead-dark">
        <th>Id</th>
        <th>insurance_type</th>
        <th>price_for_adult</th>
        <th>price_for_children_and_old</th>
    </thead>
    <tbody>
        <% @records_array.each do |worker| %>
            <tr>
            <td>
                <%= worker["id"] %>
            </td>
            <td>
                <%= worker["insurance_type"] %>
            </td>
            <td>
                <%= worker["price_for_adult"] %>
            </td>
            <td>
                <%= worker["price_for_children_and_old"] %>
            </td>
            </tr>
        <% end %>
    </tbody>
    </table>