    <table class = "table table-striped">
    <thead class = "thead-dark">
        <th>Id</th>
        <th>person_id</th>
        <th>bonus_points</th>
        <th>has_client_card</th>
    </thead>
    <tbody>
        <% @records_array.each do |client| %>
            <tr>
            <td>
                <%= client["id"] %>
            </td>
            <td>
                <%= client["person_id"] %>
            </td>
            <td>
                <%= client["bonus_points"] %>
            </td>
            <td>
                <%= client["has_client_card"] %>
            </td>
            </tr>
        <% end %>
    </tbody>
    </table>