<h1>Info</h1>
<p style="font-size: 30px;">Данная работа состоит из программной системы, включающей в себя базу данных, содержание которой полностью покрывает функционирование туристического агентства и пользовательский интерфейс, созданный для клиентов и сотрудников. <br>
Актуальность разработки данной программной системы обусловлена тем, что она предоставляет все необходимые данные для формирования тура и удобный доступ к ним. <br>
Для реализации используется реляционная база данных PostgreSQL 14.7, графический клиент PgAdmin 6.21, веб-фреймворк Ruby On Rails 7.0.4.3, среда разработки Visual Studio Code.
</p>
